<header class="font-rubik">
    <div class="logo">
        <a href="/"><img src="assets/img/logo3.png"></a>
    </div>
    <div *ngIf="!showBurgerMenu">
        <a class="link" href="#aboutme">{{ 'HEADER.ABOUT-ME' | translate }}</a>
        <a class="link" href="#skills">{{ 'HEADER.SKILLS' | translate }}</a>
        <a class="link" href="#projects">{{ 'HEADER.PROJECTS' | translate }}</a>
        <a class="link" href="#contact">{{ 'HEADER.CONTACT' | translate }}</a>
        <p><span class="lang" (click)="changeLanguage('en')">EN</span><span> / </span><span class="lang" (click)="changeLanguage('de')">DE</span></p>
    </div>
    <div *ngIf="showBurgerMenu" (click)="showOverlay()">
        <img src="assets/img/burger_menu.svg">
    </div>
</header>

<div class="menu-overlay" [@openClose]="showOverlayMenu ? 'open' : 'closed'">
    <div class="overlay-header">
        <div class="logo">
            <img src="assets/img/logo3.png">
        </div>
        <div class="close-overlay" (click)="hideOverlay()">
            <img src="assets/img/close-menu.svg">
        </div>
    </div>
    <div class="overlay-body">
        <div class="overlay-links font-rubik">
            <a class="link" href="#aboutme" (click)="hideOverlay()">{{ 'HEADER.ABOUT-ME' | translate }}</a>
            <a class="link" href="#skills" (click)="hideOverlay()">{{ 'HEADER.SKILLS' | translate }}</a>
            <a class="link" href="#projects" (click)="hideOverlay()">{{ 'HEADER.PROJECTS' | translate }}</a>
            <a class="link" href="#contact" (click)="hideOverlay()">{{ 'HEADER.CONTACT' | translate }}</a>
            <p><span class="lang" (click)="changeLanguage('en')">EN</span><span> / </span><span class="lang" (click)="changeLanguage('de')">DE</span></p>
        </div>
    </div>
</div>