<footer class="font-syne">
    <div class="footer-main">
        <div class="logo">
            <img src="assets/img/logo3.png">

        </div>
        <div>
            <span>© Marnie Lindenthal 2024</span>
        </div>
        <div class="links">
            <a href="https://github.com/Systemfehler2701" target="_blank"><img class="git-link" src="assets/img/github_button.svg"></a>
            <a href="mailto:Marnie.Lindenthal@web.de" target="_blank"><img class="mail-link" src="assets/img/email_button.svg"></a>
            <a href="https://www.linkedin.com/in/marnie-lindenthal-0140a329a/" target="_blank"><img class="linkedin-link" src="assets/img/linkedin_button.svg"></a>
        </div>
    </div>
    <div class="imprint-link"><a routerLink="/imprint">Imprint</a></div>
</footer>