.introduce {
    background-image: url(/assets/img/shadow2.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 60px;
    background-size: 900px;
    padding: 0 150px;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
}

.me-img {
    display: flex;
    height: 550px;
    position: relative;
    top: 30px;
    left: 0;
}

.header-img {
    position: relative;
    top: -70%;
    display: flex;
    width: 100%;
    z-index: 9;
    .introduce-shadow {
        width: 100%;
    }
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .headline {
        z-index: 10;
    }
    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-bottom: 50px;
    }
    p {
        color: #FF9142;
        font-size: 1.9rem !important;
    }
}

.iam {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    transform: rotate(270deg);
    font-size: 2rem;
}

.name {
    font-size: 3.8rem;
    font-weight: bold;
}

.button {
    margin-left: 100px;
}

@media (max-width: 1430px) {
    .header-img {
        top: -60%;
    }
}

@media (max-width: 1254px) {
    .iam {
        width: 70px;
    }
    .name {
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    .name {
        font-size: 2.3rem;
    }
    .header-img {
        top: -50%;
    }
}

@media (max-width: 1000px) {
    .introduce {
        padding: 0 50px;
    }
}

@media (max-width: 840px) {
    .header p {
        font-size: 1.5rem !important;
    }
    .header-text {
        margin-bottom: 20px !important;
    }
    .iam {
        width: 70px;
        font-size: 2rem;
    }
    .name {
        font-size: 2rem;
    }
}

@media (max-width: 750px) {
    .introduce {
        margin-top: 110px;
        background-size: 400px;
        background-position-x: 50%;
        background-position-y: 0px;
    }
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .me-img {
        height: 500px;
        top: 30px;
    }
    .header-img {
        top: -60%;
    }
    .headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
    }
}

@media (max-width: 661px) {
    .introduce {
        margin-top: 80px;
    }
    .header p {
        font-size: 1.2rem !important;
    }
    .iam {
        width: 50px;
        font-size: 1.5rem;
    }
    .me-img {
        height: 400px;
        top: -130px;
    }
}

@media (max-width: 515px) {
    .header {
        background-position-x: 40%;
        background-size: 350px;
    }
    .header p {
        font-size: 1rem !important;
    }
    .iam {
        width: 38px;
        font-size: 1rem;
    }
    .name {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .introduce {
        padding: 0 20px;
    }
}

@media (max-width: 324px) {
    .header p {
        font-size: 0.8rem !important;
    }
    .iam {
        width: 31px;
        font-size: 0.9rem;
    }
    .name {
        font-size: 1.2rem;
    }
}