<div class="contact font-syne">
    <h2>Contact</h2>
    <div class="contact-content">
        <div class="contact-text">
            <p>Get in</p>
            <p>Touch With </p>
            <p>Me</p>
        </div>
        <div>
            <form #contactForm="ngForm" name="contact-form" (ngSubmit)="onSubmit(contactForm)">
                <div class="contact-form">
                    <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" placeholder="Your name" name="name" required [ngClass]="{'valid-field': name.valid, 'invalid-field': name.invalid && name.touched}">
                    <div class="hint">
                        <span *ngIf="name.invalid && name.touched">Your name is required.</span>
                    </div>
                </div>
                <div class="contact-form">
                    <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" placeholder="Your email" name="email" required email pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" [ngClass]="{'valid-field': email.valid, 'invalid-field': email.invalid && email.touched}">
                    <div class="hint">
                        <span *ngIf="email.invalid && email.touched">Your email is required.</span>
                    </div>
                </div>
                <div class="contact-form">
                    <textarea #textAreaField="ngModel" [(ngModel)]="contactData.message" name="textAreaField" placeholder="Your message" required [ngClass]="{'valid-field': textAreaField.valid, 'invalid-field': textAreaField.invalid && textAreaField.touched}"></textarea>
                    <div class="hint">
                        <span *ngIf="textAreaField.invalid && textAreaField.touched">Your message is empty.</span>
                    </div>
                </div>
                <div class="contact-checkbox">
                    <div>
                        <label class="custom-checkbox">
                            <input #checkbox="ngModel" ngModel id="privacy-policy-checkbox" class="checkbox" name="privacy-policy" type="checkbox" required>
                            <span class="checkmark"></span>
                        </label>
                        <label for="privacy-policy-checkbox">I've read the
                            <a routerLink="/privacypolicy">privacy policy </a> and agree to the processing of my data as outlined.
                        </label>
                    </div>
                    <div class="hint">
                        <span *ngIf="checkbox.invalid && email.valid && name.valid && textAreaField.valid">Please accept the privacy policy.</span>
                    </div>
                </div>
                <button type="submit" [disabled]="contactForm.invalid" (click)="showSuccess()">Send message</button>
            </form>
            <div data-aos="fade-up" *ngIf="toastService.showToast" class="toast">
                <span>{{ toastService.message }}</span>
            </div>

        </div>
    </div>
</div>