.contact {
    background-image: url(/assets/img/shadow2.png);
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: 125px;
    background-size: 600px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
    gap: 50px;
    margin: 80px 0;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 60%;
    max-width: 300px;
    justify-content: center;
    p {
        margin: 50px 0;
        font-size: 2.0rem;
        font-weight: 700;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

.hint {
    height: 20px;
    font-size: 1rem;
    color: #E61C40;
}

.contact-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
}

.invalid-field {
    border: 1px solid #E61C40 !important;
}

.valid-field {
    border: 1px solid #70E61C !important;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .checkbox {
        width: unset!important;
        margin-right: 10px;
        border: solid 1px #FF9142;
    }
    div {
        display: flex;
        align-items: center;
        input,
        textarea {
            font-family: 'Syne';
            background-color: #1A1A1A !important;
            color: #fff;
            font-size: 1rem;
            border: solid 1px #FF9142;
            border-radius: 10px;
            width: 400px;
            padding: 10px;
            &:hover {
                border: solid 1px #fff;
            }
        }
        label {
            font-size: 0.9rem;
        }
        a {
            font-size: 0.9rem;
            text-decoration: none;
            color: #FF9142;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    textarea {
        height: 200px;
        resize: none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #1A1A1A inset !important;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: #fff !important;
    }
    button {
        background-color: #FF9142;
        border: 1px solid #FF9142;
        border-radius: 30px;
        padding: 12px 25px;
        color: #fff;
        width: fit-content;
        cursor: pointer;
        &:hover {
            background-color: unset;
            border: 1px solid #FF9142;
        }
        &:disabled {
            filter: grayscale(0.6);
        }
    }
}

.custom-checkbox {
    input {
        display: none;
        &:checked~.checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: relative;
        height: 15px;
        width: 15px;
        background-color: #1A1A1A;
        display: inline-block;
        margin-right: 10px;
        border: 2px solid #ff8800;
        border-radius: 3px;
        cursor: pointer;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 4px;
            top: -1px;
            width: 5px;
            height: 10px;
            border: 1px solid rgb(240, 129, 25);
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }
}

.toast {
    position: fixed;
    right: 30%;
    bottom: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: fit-content;
    border: 1px solid #FF9142;
    border-radius: 30px;
    background-color: #FF9142;
}

@media (max-width: 1000px) {
    .contact {
        padding: 0 50px;
    }
}

@media (max-width: 800px) {
    input,
    textarea {
        width: 300px !important;
        padding: 5px;
    }
    p {
        font-size: 2rem !important;
    }
}

@media (max-width: 600px) {
    .contact {
        gap: 25px;
    }
    .contact-content {
        flex-direction: column;
        gap: 25px;
    }
    input,
    textarea {
        width: -webkit-fill-available !important;
        padding: 4px !important;
    }
    textarea {
        height: 150px !important;
    }
    .contact-text {
        gap: 10px;
    }
    p {
        font-size: 1.7rem !important;
    }
}

@media (max-width: 483px) {
    p {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 400px) {
    .contact {
        padding: 10px 20px;
    }
    .contact-text {
        gap: 5px;
    }
    p {
        font-size: 1.3rem !important;
    }
}

@media (max-width: 320px) {
    .contact {
        height: 70vh;
        gap: 15px;
    }
    .contact-text {
        gap: unset;
    }
    button {
        padding: 8px 16px !important;
        font-size: 0.8rem;
    }
    p {
        font-size: 1.2rem !important;
    }
    span,
    a {
        font-size: 0.5rem !important;
    }
}