<div class="my-skills font-syne">
    <div class="skill-list">
        <div class="skills">
            <div data-aos="zoom-in" data-aos-delay="500" class="skill" *ngFor="let skill of mySkills; let i = index;">
                <img src="assets/img/{{ skill.img }}.svg">
                <p>{{ skill.name }}</p>
            </div>
        </div>
    </div>
    <div class="my-skills-text">
        <div>
            <h2>{{ 'SKILLS.H2' | translate }}</h2>
        </div>
        <div>
            <span>
                {{ 'SKILLS.TEXT' | translate }}
            </span>
        </div>
        <div class="button">
            <app-button caption="{{ 'SKILLS.BUTTON' | translate }}" link="#contact" target="">
            </app-button>
        </div>
    </div>
</div>