.imprint {
    color: #fff;
    padding: 200px 150px;
    overflow-y: scroll;
    a {
        color: #FF9142;
    }
}

@media (max-width: 1000px) {
    .imprint {
        padding: 50px 50px;
    }
}

@media (max-width: 400px) {
    .imprint {
        padding: 20px 20px;
        font-size: 0.8rem;
        height: 59vh;
    }
}