<div class="about-me font-syne">
    <div class="about-me-text">
        <div>
            <h2>Let’s get know about me closer</h2>
        </div>
        <div>
            <p>
                Welcome to my portfolio! Since 2022, I've been advancing my skills to become a frontend developer, also delving into backend development. My passion for software development was sparked by my years as a dental technician, where I was deeply engaged with
                PC and CAD technologies. These experiences ignited my interest in technology and development, motivating me to explore the field of software development.
            </p>
            <p>
                In this portfolio, I showcase various projects completed during my training, demonstrating my abilities and knowledge in frontend development. My move into software development was deliberate, fueled by strong motivation. After facing challenges in work-life
                balance in dental technology, I've now found a path that aligns with my professional and personal goals.
            </p>
        </div>
        <div class="button">
            <app-button caption="EXPLORE WORKS" link="#projects" target="">
            </app-button>
        </div>
    </div>
    <div class="about-me-img">
        <img src="assets/img/picture-me0.png">
    </div>
    <div class="back-to-top" data-aos="fade-up" data-aos-anchor-placement="bottom-center">
        <a href="#marnie"><img src="assets/img/go_up.svg"></a>
    </div>
</div>