<div class="about-me font-syne">
    <div class="about-me-text">
        <div>
            <h2>Let’s get know about me closer</h2>
        </div>
        <div>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequatur consequuntur numquam, reiciendis, fugit aliquid error, 
                tempora nesciunt cum delectus maiores non illum a dolore dicta exercitationem 
                perspiciatis nihil sunt. Officiis?
            </span>
        </div>
        <div class="button">
            <app-button caption="Let's talk!" link="#contact" target="">
            </app-button>
        </div>
    </div>
    <div class="about-me-img">
        <img src="../../../assets/img/picture-me0.png">
    </div>

</div>