<div class="about-me font-syne">
    <div class="about-me-text">
        <div>
            <h2>{{ 'ABOUT-ME.H2' | translate }}</h2>
        </div>
        <div>
            <p>
                {{ 'ABOUT-ME.TEXT1' | translate }}
            </p>
            <p>
                {{ 'ABOUT-ME.TEXT2' | translate }}
            </p>
        </div>
        <div class="button">
            <app-button caption="{{ 'ABOUT-ME.BUTTON' | translate }}" link="#projects" target="">
            </app-button>
        </div>
    </div>
    <div class="about-me-img">
        <img src="assets/img/me.png">
    </div>
    <div class="back-to-top" data-aos="fade-up" data-aos-anchor-placement="bottom-center">
        <a href="#marnie"><img src="assets/img/go_up.svg"></a>
    </div>
</div>